body{
background:#000066;
}
#wrapper{
margin-left:350px;
margin-top:150px;
padding:0 0 0 0;
}
#title{
width:60%;
height:50px;
background:#003366;
padding-top:10px;
}
#title span{
font:Neutra;
font-size:24px;
color:white;
text-transform:uppercase;
font-weight:bold;
margin-top:10px;
}
#form{
width:60%;
height:200px;

background:#fff;

}
#image{
float:left;
width:50%;
height:100%;
background-image: url(gambar/login.png);
}
#form-login{
width:50%;
height:200px;
float:right;

background:-webkit-linear-gradient(top,gray,#333);
}
#user{
padding-top:5px;
padding-bottom:5px;
margin-left:30px;
margin-top:10px;
margin-top:-20px;
}
#pass{
padding-top:10px;
padding-bottom:5px;
margin-left:30px;
margin-top:-20px;
}
#login{
background:gray;
padding:10px 10px 10px 10px;
width:40%;
float:left;
margin-left:30px;
margin-top:0px;
font-weight:bold;
color:white;
text-transform:uppercase;
}
#h4{
font:Times New Roman;
color:white;
font-size:14px;
margin-left:30px;
margin-top:10px;
}
#footer{
width:60%;
height:30px;
color:#003366;
font-weight:bold;
text-align:center;
padding-top:15px;
background:-webkit-linear-gradient(left,gray,#333);
}